// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

#calendar {
    a {
        text-decoration: none;
        color: black;
    }
}

.event-class {
    padding: 0.5rem;
    border-radius: 3rem;
    cursor: pointer;
}
